.link{
  text-decoration: none;
  color:white;
  font-size: 17px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}

.link:hover{
  color:white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-toggler-icon{
  color:white;
}