.theme{
  color:#0f1178;
  font-weight: bold;
}
.theme2{
  color:#d69d70;
  font-weight: bold;
}

.theme3{
  color:#118f46;
  font-weight: bold;
}
.theme3:hover{
  color:green;
}

.theme4{
  color:#13007d;
  font-weight: bold;
}
.theme4:hover{
  color:blue;
}

.theme5{
  color:#ea6943;
  font-weight: bold;
}
.theme5:hover{
  color:orange;
}

.theme2:hover{
  color:brown;
}

.App{
  font-family: 'Raleway', sans-serif;
  
}

.buttonsilver {
  background-color: #C0C0C0;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  padding-right: 100px;
  padding-left: 100px;
  font-size:25px;

  margin-bottom: 20px;
}

.buttonbronze {
  background-color: #cd7f32;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  padding-right: 100px;
  padding-left: 100px;
  font-size:25px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.buttonred {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  padding-right: 100px;
  padding-left: 100px;
  font-size:25px;
  margin-top: 50px;
  
}


/* Accordian */

.accordion {
  background-color: #0f1178;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: black;
}

.accordion:after {
  content: "\002B";
  color: white;
  font-weight: 300;
  font-size: 25px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#devfolio-apply-now {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #3770FF;
  border-radius: 3px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 18px;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
  text-transform: lowercase;
}

#devfolio-apply-now:not([disabled]) {
  cursor: pointer;
}

#devfolio-apply-now:hover {
  background-color: #2954BF !important;
}




.hovercard {
 
 padding: 30px;
}

